<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/trailers">Trailers</a></li>
            </ul>
        </nav>
        
       