<% include partials/header %>

<h1 class="text-center">Add Your Trailer</h1>
<div id="addForm"class="container text-center">
<form class="form-group" action="/trailers" method="POST">
    <input class="form-control" type="text" name="kind" placeholder="Trailer Type">
    <input type="text" class="form-control" name="img" placeholder="Image Url">
    <button class="btn btn-primary">Submit</button>
</form>

</div>
<a href="/trailers" class="btn btn-primary">Back</a>
<% include partials/footer %>