<% include partials/header %>

<div class="jumbotron text-center homeDiv">
    <h1 class="display-4">Local Trailer Help</h1>
    <p class="lead" id="likeU">Like Uber...But for trailers!</p>
    <img class="img-fluid" src="http://d34ra0wvwxc5ex.cloudfront.net/rHJ28s/scOOQq/Big_Tex_22GN_20__5_Flat_Equipment_Trailer_ZkqG6i.png">
    <br><br>
    <a class="btn btn-primary" href="/trailers">View All Trailers</a>
    
</div>

<% include partials/footer %>