<% include partials/header %>

<div class="jumbotron text-center homeDiv">
    <h1 class="display-4">Local Trailer Help</h1>
    <p class="lead" id="likeU">Like Uber...But for trailers!</p>
    <img class="img-fluid" src="http://d34ra0wvwxc5ex.cloudfront.net/rHJ28s/scOOQq/Big_Tex_22GN_20__5_Flat_Equipment_Trailer_ZkqG6i.png">
    <br><br>
    <a class="btn btn-primary" href="/trailers">View All Trailers</a>
    <div id="extraInfo" class="container text-center">
        <h3>Why would I use this site?</h3>
        <a href="#why"><i class="fas fa-hand-point-down"></i></a>
    </div>
</div>
<div id="why" class="text-center">
    <div>
        <h3>Reason 1</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, eligendi.</p>
    </div>
    <div>
        <h3>Reason 2</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, nihil.</p>
    </div>
</div>
<% include partials/footer %>