<% include partials/header %>
<h1 class="text-center">Log In To Your Account</h1>
<div class="container signUpForm">
    <form action="/login" method="POST" class="form-group">
        <label for="">User Name</label>
        <input class="form-control" type="text" name="username" placeholder="UserName">
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" placeholder="PassWord">
        <button class="searchBtn btn">Submit</button>
    </form>
</div>
<% include partials/footer %>