<% include partials/header %>
<h1 class="text-center">Sign Up For Your Account</h1>
<div class="container signUpForm">
    <form action="/register" method="POST" class="form-group">
        <label for="">First Name</label>
        <input class="form-control" type="text" name="firstName" placeholder="First Name">
        <label for="">Last Name</label>
        <input class="form-control" type="text" name="lastName" placeholder="Last Name">
        <label for="">User Name (Enter Your Email)</label>
        <input class="form-control" type="email" name="username" placeholder="somebody@somewhere.com">
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" placeholder="PassWord">
        
        <button class="searchBtn btn">Submit</button>
    </form>
</div>
<% include partials/footer %>