<% include partials/header %>

<header class="jumbotron text-center">
    <h1>All Trailers</h1>
    <a href="/trailers/new" class="btn btn-primary">Add New Trailer</a>
</header>

<div class="container">
<div class="allTrailers row">
  
        
        <% trailers.forEach(trailer => { %>
            <div class="col-sm-12 col-md-4">
            
                    <img class="img-fluid" src="<%= trailer.img %>" class="card-img-top" alt="...">
                   
                      <p class="card-text"><%= trailer.kind %></p>
                    
            </div>
 
        <% }) %>
   
</div>
</div>
<% include partials/footer %>

