body {
    margin: 0; 
    padding: 0;
    color: white;
    background: rgb(44, 40, 40);
    font-family: 'Montserrat', sans-serif;
}


.navbar {
    background: rgb(30, 43, 56)!important;
    padding: 20px;
    
}
.jumbotron{
    color: rgb(40,60,80);
}
.col-sm-12, .col-md-4 {
    
    padding: 1%;
    color: rgb(40,60,80);
    border-radius: 5px;
    
}

.img-fluid{
    border-radius: 5px;
}

.navbar-brand{
    color: white !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-toggler{
    background-color: white !important;
}

.row {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    border-radius: 5px;
}

/* .homeDiv {
    background: rgb(40,60,80);
    margin-top: 10px;
    border-radius: 0;
    padding: 20px 0 ;
    color: white;
    
} */

.btn {
    background: rgb(40,60,80);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.6s;
    margin: 10px;
    
}

.btn:hover{
    background: rgb(80, 40, 71);
    color: white;
    border: 2px solid white;
}




