*{
    transition: 1s;
}
body {
    margin: 0; 
    padding: 0;

    background: rgb(12, 164, 202);
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background: rgb(12, 164, 202);
}

.jumbotron{
    background: rgb(44, 38, 38);
    color: white;
}

.navbar-light .navbar-brand{
    color: white;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link{
    color: white;
}

.searchBtn{
    background: rgb(206, 66, 66);
    color: white;
    outline: none;
}

.first{
    padding-left: 0;
}